<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/discover">Recipe Book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/discover" routerLinkActive="active"
            >Discover</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >My Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>
      @if(currentRoute !== '/discover' && currentRoute !== '/') {
      <ul class="navbar-nav">
        <li class="nav-item dropdown ml-auto">
          <a
            class="nav-link"
            (click)="
              currentRoute.startsWith('/recipes')
                ? saveRecipeData()
                : saveSLData()
            "
            >Save
            {{
              currentRoute.startsWith("/recipes") ? "Recipes" : "Ingredients"
            }}</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            (click)="
              currentRoute.startsWith('/recipes')
                ? fetchRecipeData()
                : fetchSLData()
            "
            >Fetch
            {{
              currentRoute.startsWith("/recipes") ? "Recipes" : "Ingredients"
            }}</a
          >
        </li>
      </ul>
      }
    </div>
  </div>
</nav>
