<div class="row">
  <div class="container">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="shopping-list">
      @for(ing of ingredients; track ing.ingId; let idx = $index) {
      <div class="shopping-checklist">
        <a class="shopping-item" (click)="onEditItem(idx)">
          <span>{{ ing.ingredientName }}</span>
          <span>{{ ing.quantity }}</span>
        </a>
        <button class="delete-icon" (click)="onDelete(idx)">
          <fa-icon [icon]="faXmark"></fa-icon>
        </button>
      </div>
      }
    </ul>
  </div>
</div>
